/* ad-block */
#fm-bg {
    background-image: none !important;
}

/* fm-download */
.fm-improve-download-bar {
    margin-left: -60px;
}
.fm-improve-download-bar img {
    display: none;
}
.fm-improve-download-bar .fm-improve-item {
    color: rgb(92, 192, 153);
    background: none;
    margin-right: 5px;
    transition: 0.5s;
}
.fm-improve-download-bar .fm-improve-item:hover {
    opacity: 0.8;
}

/* fm-mine */
.fm-improve-mine-link:hover {
    opacity: 0.8;
}


/* fm-search */
#db-nav-music .fm-improve-search {
    position: absolute;
    top: 7px;
    left: 520px;
    width: 300px;
    height: 34px;
}
#db-nav-music .fm-improve-search input {
    width: 37px;
    height: 34px;
}
#db-nav-music .fm-improve-search label {
    position: static;
    padding: 0 0 0 10px;
    line-height: 34px;
    height: 34px;
    cursor: pointer;
}
#db-nav-music .fm-improve-search .fm-improve-search-song,
#db-nav-music .fm-improve-search .fm-improve-search-default {
    -webkit-appearance: radio;
    width: 20px;
}
