#fm-improve a {
    color: #369;
    background: transparent;
}
#fm-improve a:hover {
    text-decoration: underline;
}

.fm-improve-picture {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.fm-improve-picture img {
    height: 100%;

}
#fm-improve .hide {
    display: none;
}
#fm-improve .fm-improve-info {
    display: inline-block;
    padding-left: 5px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}